body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
    transition: background-color 0.5s ease-in-out, color 0.6s ease-out;
  }
  .dark-mode {
    background-color: rgb(71, 71, 71);
    color: white;
  }
  .toggle {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 10px;
    right: 10px; 
    border-radius: 8px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
  }

  /* <!-- .toggle{ */
      /* top: 10px; */
      /* right: 10px; */
  /* } --> */
  
  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 17px; /* Half of the height */
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px; /* Half of the height */
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }

  

  input:checked + .slider {
    background-color: #ccc;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    transform: translateX(26px);
  }

  label{
    position: absolute;
    display: inline-block;
    top: 43px;
    right: 10px; 
    border-radius: 8px;
    cursor: pointer;
    -webkit-touch-callout: none; 
    font-size: 14px;
  }